doctype html
html(lang='en')
    head
        title
            block title
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/bootstrap-rtl.min.css")
        link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/css/font-awesome.min.css")
        link(rel="stylesheet" href="/css/jquery-confirm.css")
        link(rel="stylesheet" href="/css/styles.css")
        block cssHeader

    body
        block content


        script(type="text/javascript" src="/js/jquery.min.js" )
        script(type="text/javascript" src="/js/bootstrap.min.js" )
        script(type="text/javascript" src="/js/jquery.validate.min.js" )
        script(type="text/javascript" src="/js/jquery-confirm.js" )
        script(type="text/javascript" src="/js/app.js" )
        block jsHeader
        script.


